:root {
  --primary-color: #7c4dff;
  --secondary-color: #1be1ae;
  --background-color : #e5e7e9;
  --calender-color : #484848;
  --color : #007BFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    height: calc(100vh - 56px);
    width: 100%;
}

.bg-primary-1 {
    background-color: var(--primary-color) !important;
}

 /* Styling untuk legendanya */
 .legend {
    background-color: white;
    padding: 10px;
    line-height: 18px;
    color: #555;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }