* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.border {
    border: solid black 1px;
}


/* Container Items */

.container-items {
    align-self: flex-start;
    width: 65%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-card {
    text-align: center;
    margin: 5px;
    display: flex;
    width: 22%;
    max-height: 25%;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}

.item-card .add {
    justify-content: center;
}

.item-card:hover {
    background-color: rgb(39, 37, 37);
    color: white;
    cursor: pointer;
}

/* Container Checkout */

.container-checkout {
    align-self: flex-start;
    width: 30%;
}

.checkout-items {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.counter {
    display: flex;
    justify-content: space-around;
}

.counter button {
    width: 30%;
}

.checkout-items:nth-child(odd) {
    border-bottom: 1px solid black;
}
.checkout-items:nth-child(even) {
    border-bottom: 1px solid black;
}

.checkout-total {
    background-color: lightgray;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}

.check-total {
    display: flex;
}

.x-conter {
    display: flex;
    flex-direction: column;
}

.delete-checkout {
    width: 30px;
    margin-left: 10px;
}