* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: darkgray;
    user-select: none;
}

body {
    display: flex;
}

.container {
    width: max-content;
    height: max-content;
    /* display: flex;
    justify-content: center; */
    padding: 30px;
}

.container-result {
    width: max-content;
    height: max-content;
    /* display: flex;
    justify-content: center; */
    padding: 30px;
}

.row {
    display: flex;
}

.box {
    /* width: 5px;
    height: 5px; */
    width: 40px;
    height: 40px;
    border: solid 1px #222831;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 3.3rem; */
    background-color: white;
    /* color: white; */
    color: black;
    font-size: 30px;
    transition: all .8 ease-in;
    /* cursor: pointer; */
}

input[type="text"] {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    margin: 1px;
}