.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.container-matrix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.row {
    display: flex;
}

.box {
    width: 90px;
    height: 40px;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.generate {
    width: 200px;
    height: 30px;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}